*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("https://lh3.googleusercontent.com/GKpRQDPFrgbyiaXE5wCBKeqT9hRWQ2QPonQfJzAaffOOezs76PNoTsnx8j1nSF_WAQHOkpbhJ8xFh8MtnO79tP0UXe4MvtJRRQxJ0LlxsY3svLhMDPgkfvlMWX91akcl4bKm80WmmSv2GvAhEbnJM2WJhCsdInZ9qH5I9TAHfreSTvAe4YtizinD4MrXh-DfaDGcf9RR0REDedVnZa_Vn9pEjBHMizX0zVWdTlfB_R9qFawxC_c8C8QMriP1Gl2ctDgYIarTOjpy0KDYsXK4XWxPfSwlwz0vQYkg88TfEktE9QH38W2XaUuzDRwDyNTsfyW_H-72hyhlBzRmF9tXJUOnKzf2OiT6jxl7u6WYPwv9855fVhhVNAIS8oW3QiFICcKpYQftDTKWtraaGzkOnr7dVGBP1itpxb0Qbnt7tRRo1aWxUUJU7uzczn10jWlHwPw_gjpnt-_5DPM3qYMRbQi4oehQUKZiZdFfwyHf9ZyeA8g4nNVKQLd21Mu19gU3E_WsBmacluWIrRx0bMcqNXfmcuF_yrXa0xc-4FbJM23SFsJvj67gkarKmZxmb14GCkZ8f2W0ygogN44T-UF2hC7virCHKd621vm69fcCe1MQ9Ekqa7uTYqan2E43_nPiQxqXXqtlbeKRz3CRbD4fV7VSicVdDPNVU3JninLlKNplqkxv9B7GGxj5wqrnQyGOeJiGYl68dvhxAqtgTSAqQjDODoq-q9ienlI8tkHcPMn1KHeCfxbzaNzZfA=w681-h454-no?authuser=0");
    background-position: center;
    background-size: cover; 
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 68px;
    color: white;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav.fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 20px:
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44366;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px; 
    }
    .hero-btn{
        padding-bottom: 10px;
        display: inline-block;
    }
    .header{
        background-size: cover;
    }
nav img{
    width: 90px;
}
nav.fa{
    display: none;
}

/*------pemakaian------*/
.pemakaian{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://lh3.googleusercontent.com/FnRZR7M4YTAVcaZmTW_totOOflRUTJntiQ9VIxLSY2AUa3cCgEWUg-a9eKPJSME1TSjSSiJ9S8Ltv-yn_XyfpU5HDKEhg2-70mgev-gTs8d2oPYjPHRRfRU3izD5dXnykSwYZnPLZrcNRudRtP1xM5wmNAsrGRdgh6Z8fl7gn6WFjXX0HrTQ_1lR0lQMB2RN5fgsepK_aMdKY_EVgcebO-8EARGi-H4-YOdBRk9qUw0o5H22ENcuS6fy7jQ8EyK342f7ANHuK9CSasinrXu7Y8s--8smEGO_zEk1YSw0UUEJl4T6q4BKhq51yoHJEvKjRl4M_IEyFLR2HCFanXR50IREAYJGHo1q4m4CxGLa5o1thF5K7GJHC1ZQ8ftSB1wJSCRbKpK65KiHOCE8KW2SHXEITPCmdac7I_oHPVR4AlRxd2Z1TdyB50VfhpDutiMNpsXKVoSeFIOxM1Rg2xdWEMFSwrvsi1o59wgZzpYvnOflTrXF8b-nz2rkWDCR85sLsfQPS3a4KsKIWXIE5SfR2YFvwdHajkPAqbT-OTiASLsLzROunQVEOHOqFNZaDnf7wT9plkJhbfZcz4H5D97vsG-bkzsa-SbA5rvDDCEjWSIwGGGX-0Ltnpcv06RgWYDlWKrxEH4e5-TCGTviRSV4B2YEWPMY90hDHVQoIJ3WCNo6HjzdyD5un49ibHnSvLJwOtRnx448R2VFSpiwwBCanyAffk3reO-cvY7HX_9cCVaAsmE8jPK5dUuV9Q=w681-h447-no?authuser=0");
    background-position: center;
    background-size: cover;
    position: relative;
}
    .pemakaian-col{
        flex-basis: 40%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: auto;
}
    .pemakaian h1{
        color: white;
    }
    .pemakaian-col img{
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        align-content: center;
        display: block;
    }
    .layer{
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .h1{
        color: #fff;
    }
    h4{
        color: black;
        font-size: 40px;
        font-weight: 300;
        line-height: 22px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .layer:hover{
        background: rgba(216,209,209,0.7);
    }
    .layer h4{
        width: 100%;
        font-weight: 500;
        color: #000000;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
    .layer:hover h4{
        bottom: 49%;
        opacity: 1;
    }
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    @media(max-width: 700px){
        .row{
            flex-direction: column;
        }
    }
    
    /*------kategori------*/
    .kategori{
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://lh3.googleusercontent.com/FAbp7tZt9sj1TO8NVVGgy66lh1dgrdhV1Ph96VnXulMT3_YDH0WL_ckVioRqTBJ1OvFKEGn07Y1sovK4OGwqTuaLH41GPDs79ID5gC9BODB1QBLLCRo6gr5yKW7Dd1xsM570tbSkI50QAMlpwPHNi5nc1lWJ5D4p63IjWxB9YLD8wpd6YqjUp3K4IMTxYcKh1D2QdhzuorPthuZeg2fyb5ZGUCLJfCMYtoaSQTQJsPQAG8iOD9gLIr_4aKNC8fEB9AAOAYE10lIr4-9TWgA0oNn_j0GytWghx0Qngq0c5skFeo0UwC98GmqFsUov5g7TR7qJzIXQ--nPfm-f-4tOjljVnIL4aTrHRRlr8HDVbuY9qdY_oPkEr29Nv7P4AJ006YinYrET8rke9F3kFJtzmg7sn7Fto7GDjdBIXqWn96ic8w1qb3mXQw6BEJii7eGjey0gV5UZfUZvZ9ts1FoljOlkVfuArqPIwFXsbr-Mye7guWjj11rOB4Q_ilKnGINlTRZb8RfeMu97fh5G28JtiXdNdCiJcUaxU8_zI38AqNPQmZIwlBi4bDZoDQfd5gW7YnxAZr7xDMQ8yXEaApYE0GlhPm0o9OBwk6xT_xgmRldLuncqX1s2fzycSvXzqCuhkW2rpqn_DPUo6cbATngmuBUrwbtSEyZdN3jUX_GFccz9uCQm2-gF3moGxCA4wgEVJj89QOKY6UsfNgbXE6l_Ty5uZaY5sM50YooGEVLUCn9ALfSy56Ija6aVFA=w681-h448-no?authuser=0");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .h1{
        text-decoration-color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .katext-box{
        text-decoration-color: black;
        text-align: center;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
        font-style: courier;
    }
    .katext-box{
        text-decoration-color: black;
        text-align: center;
        color: black;
    }
    p{
        text-decoration-color: black;
        text-align: center;
        color: black;
    }
    .kategori-col{
        flex-basis: 31%;
        border-radius: 10px;
        background: #cacbc9;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
    }
    <br><br><br><br><br><br>
    
    /*------teknik------*/
    .teknik{
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("https://lh3.googleusercontent.com/w51zZ25Uy6CiflqqXFNTnJ0WCy3qhsCZjAWe-1dbBAHMajk1K6HMLwQ8EVJnIbPXKu_RmRmvt0u1fg7azoB152ST_fpBzceKGt1N4hu2XvHYfTiwLW1KxLGpaiZpI0aXdRgm5GGJ7GGhJJ9LmW9Mm-Eqh53eP5ZrVGToW07V4dXfbMyTBf9RTkcJwExILtl3uf452N2mzOdOqjcBrTGRufN0moz2M7c8Zh5igT46YP4qsa-hXMp67-ULFGz8jS7-MEslW-qDss5uU_GO6PjSBXG289m_DBiUkJSdD_6nBE-gaaXmHrpfloumgzDOyMywanCXMfq-sRTOHOReXtfgIMfd6JKOhMBxwxZPT4wQ5CV0OSZnAM5gZWXdbDnRiYfv_idJUUUAL2CRerq2GfzY14EkyZk78ea4s84jPHroXR9GlU820k3GbRNvA5E16KgZG6POOonlsjRHyaU20W5rGl9Nv6steWuiH3NWCWj5t0QW540wQ0RHPfONAppY-VYDJm7Hbe0_mJ6uQ6DbaW2iwmzE6H73zxnaP5MAYMC77vm1MY9O2h90SiiDFZuf6x1R50aEdwfWdrnZOYPjJ0kim3TfgfI99gHYJby2cL0K_2k3ILEwKur_ngal0vhSDcTWR14lw3Myj6OJcXRYBn32ahLD8FL86Z0gAUhT3fC-xDqvsVQiDClqPnWe2yEapmADYkl2IzY8gYH7YaLUdxORKPRhqjvMZzgmKoG-2nJj1JHYc0msVjhTAbZzrg=w309-h206-no?authuser=0");
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .teknik-col{
        flex-basis: 40%;
        border-radius: 10px;
        margin-bottom: 30px%;
        position: relative;
        overflow: auto;
    }
    .teknik-col h3{
        color: white;
        text-align: center;
    }
    .teknik-col img{
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        align-content: center;
        display: block;
        padding: 25px;
    }
    
    @media(max-width: 700px){
        .row{
            flex-direction: column;
        }
        .teknik-col img{
            flex-direction: column;
            padding-left: 45px;
        }
    }
    
/*------footer------*/
    .footer{
        text-align: center;
        font-size: 40px;
        border-spacing: 8px;
    }
    .p{
        text-align: center;
        font-size: 5px;
    }
    .kredit{
        background-color: #C2CAD0;
        color: black;
    }
    